.ivcon-audio {
  width: 11px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-radius: 0 0 50% 50%;
  &::before {
    left: 2px;
    top: -6px;
    width: 3px;
    height: 10px;
    border: solid 1px currentColor;
    border-radius: 4px;
  }
  &::after {
    left: 4px;
    bottom: -4px;
    width: 1px;
    height: 4px;
    background-color: currentColor;
  }
}
.ivcon-wifi {
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  border-left: solid 1px transparent;
  &::before {
    left: -5px;
    top: -5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-top: solid 1px currentColor;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent
  }
  &::after {
    left: -9px;
    top: -9px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border-top: solid 1px currentColor;
    border-right: solid 1px transparent;
    border-bottom: solid 1px transparent;
    border-left: solid 1px transparent
  }
}
.ivcon-laptop {
  width: 16px;
  height: 11px;
  border: 1px solid currentColor;
  border-radius: 2px;
  &::after {
    left: -2px;
    bottom: -5px;
    width: 19px;
    height: 2px;
    background: currentColor;
    border-radius: 100px
  }
}
.ivcon-battery-full {
  width: 18px;
  height: 10px;
  border: 1px solid currentColor;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  background: rgba(0,0,0,0);
  &::before {
    content: "";
    position: absolute;
    right: -2.5px;
    top: 2px;
    width: 2px;
    height: 4px;
    background: currentColor;
    border-radius: 0 1px 1px 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 14px;
    height: 6px;
    background: currentColor;
    border-radius: 1px;
  }
}
.ivcon-battery-empty {
  width: 18px;
  height: 10px;
  border: 1px solid currentColor;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    right: -2.5px;
    top: 2px;
    width: 2px;
    height: 4px;
    background: currentColor;
    border-radius: 0 1px 1px 0;
  }
}
.ivcon-battery-half {
  width: 18px;
  height: 10px;
  border: 1px solid currentColor;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
  background: transparent;
  &::before {
    content: "";
    position: absolute;
    right: -2.5px;
    top: 2px;
    width: 2px;
    height: 4px;
    background: currentColor;
    border-radius: 0 1px 1px 0;
  }
  &::after {
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 6px;
    height: 6px;
    background: currentColor;
    border-radius: 1px;
  }
}

