%operand {
  width: 16px;
  height: 16px;
  &::before {
    width: 16px;
    height: 1px;
    margin-top: 8px;
    background-color: currentColor;
  }
}
.ivcon-plus {
  @extend %operand;
  &::after {
    width: 16px;
    height: 1px;
    margin-top: 8px;
    background-color: currentColor;
    transform: rotate(90deg)
  }
}
.ivcon-minus {
  @extend %operand;
}
%check {
  width: 20px;
  height: 20px;
  &::after {
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    transform: rotate(-45deg)
  }
}
.ivcon-check {
  @extend %check;
  &::after {
    top: 2px;
    width: 14px;
    height: 8px
  }
}
.ivcon-check-o {
  @extend %check;
  border: 1px solid currentColor;
  border-radius: 100px;
  &::after {
    top: 5px;
    left: 3px;
    width: 10px;
    height: 5px
  }
}
%times {
  width: 16px;
  height: 1px;
  margin-top: 8px;
  background-color: currentColor
}
.ivcon-times {
  width: 16px;
  height: 16px;
  &::before {
    @extend %times;
    transform: rotate(45deg)
  }
  &::after {
    @extend %times;
    transform: rotate(-45deg)
  }
}
%timeso {
  width: 12px;
  height: 1px;
  top: 9px;
  left: 3px;
  background-color: currentColor;
}
.ivcon-times-o {
  width: 20px;
  height: 20px;
  border: 1px solid currentColor;
  border-radius: 100px;
  &::before {
    @extend %timeso;
    transform: rotate(45deg)
  }
  &::after {
    @extend %timeso;
    transform: rotate(-45deg)
  }
}
