@use './shapes/directional';
@use './shapes/suggested';
@use './shapes/application';
@use './shapes/code';
@use './shapes/media';

[class^="ivcon-"], 
[class*="ivcon-"] {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &::before,
  &::after {
    content: '';
    position: absolute;
  }
  &.xs {
    transform: scale(1);
  }
  &.sm {
    transform: scale(1.2);
  }
  &.md {
    transform: scale(1.5);
  }
  &.lg {
    transform: scale(2);
  }
  &.xl {
    transform: scale(3);
  }
}
